.WorldwideText{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

.IndonesiaText{
  text-align: center;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-around;
}

.ProvinceText{
  text-align: center;
  font-weight: bold;
}

tr {
  
  color: rgba(10, 3, 3, 0.788);
  background-color:rgb(214, 218, 241);
}

.ProvinceTable{
  border-radius: 10px;
  border-width: 5px;
border-color: rgba(10, 3, 3, 0.788);
}

.background{
  width: 1350px;
  height: 1350px;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.volkswagenstiftung.de/sites/default/files/images/20200504_Corona_Small_Grants_AdobeStock_334534811.jpg");
}

.cardPositive{
  font-size: 20px;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(247, 177, 47);
}

.cardDeaths{
  font-size:20px;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(248, 36, 36);
}

.cardRecovered{
  font-size:20px  ;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 2px;
  padding: 12px;
  border-radius: 10px;
  border-width: px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
  background-color:rgb(43, 128, 4);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  }

  